body{
    background-color: black;
    padding: 0;
    margin: 0%;
    color:aliceblue;
    font-family: 'Nunito Sans', sans-serif;
}



img{
    width:984px;
     height:557px;
     border-radius: 20px;
}
.preloader{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}


.navbar{
    background-color: #3A3845;
    padding: 2rem;
    border-radius: 2%;
    
}

.logo{
    width: 20%;
}

.links{
    text-align: center;
    color:aliceblue;
}
.link_style{
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 12px;
}
iframe{
    width:1152px; 
    height:648px; 
    border: #000;
}

.video{
    text-align: center;
    align-items: center;
    background-color: #000;
   
}


/* ABOUT */
.Aheading{
    text-align: center;
    padding: 30px;
    font-size: 5em ;

}

.Atext, .specifivation,.aboutcar,.price{ 
    letter-spacing: 1.4px;
    padding: 7% 20% ;
    font-size: 1.5em ;
}


.aboutimage{
    padding: 0 40%;
    align-self: center;
    text-align: center ;
    width: 20%;
    height: 40%;
    margin: 0;
}

/* PRODUCT*/
.main_box {
    text-align: center;
    align-items: center;
    padding: 7% 20%;
}

.table{
    text-align: center;
    width: 70%;
}

h1,h2,h3,h4,h5,h6{
    width:984px;

}

/*Contact*/

.linkicon{
 text-decoration: none;
 color: aliceblue;
 font-size: 1em;

}

/*Mobile*/

@media only screen and (max-width: 600px){


iframe{
     width: 100vw;
     height: 60vh;
 }
 .links{
     text-align: left;
 }
 .link_style{
     font-size: 1.4em;
     padding: 1.5px;
 }
/*Product*/
.main_box{

    padding: 0;
    margin: 0;
}
img{
    width: 284px;
    height: 150px;
}

h1,h2,h3,h4,h5,h6{
    padding: 0 35px;
    width:284px;

}

/*About*/
.Aheading{
    text-align: center;
    padding: 30px;
    font-size: 3em;

}

.Atext, .specifivation,.aboutcar,.price{ 
    text-align: center;
    padding: 7% 0% ;   
    font-size: 1em;
}
.Atext{
    padding: 7% 20%;
}


.aboutimage{
    align-self: center;
    text-align: center ;
    width: 40%;
    height: 100%;
    margin: 0;
    padding: 0 30%;
}

}