body{  text-align: center;
    align-items: center;
    background-color: black;
    padding: 0;
    margin: 0%;
    color:aliceblue;
    font-family: 'Nunito Sans', sans-serif;
}

/* Preloader */
#PreLoader{
    text-align: center;
    background-color: #000; 
    height: 100vh;
    width: 100%;
    background-repeat: none;
    position: fixed;
    z-index: 1000;
    
}
.PreLoader-text {
    
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 0.75;
    margin: 10px 0;
    font-size: 2vw;
    font-weight: bold;
  }
  
img{
    width:984px;
     height:557px;
     border-radius: 20px;
}


.navbar{
    background-color: #3A3845;
    padding: 2rem;
    border-radius: 2%;
    
}

.logo{
    width: 20%;
}

.links{
    text-align: center;
    color:aliceblue;
}
.link_style{
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 12px;
}
iframe{
    width:1152px; 
    height:648px; 
    border: #000;
}

.video{
    text-align: center;
    align-items: center;
    background-color: #000;
   
}

.main_image{
        position: relative;
        width: 100%;
        height: 100%;
}

.top-box{
    letter-spacing: 1.4px;
    padding:  7% 23% ;
    font-size: 1.5em ;

}
/* Card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .card button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }


/* ABOUT */
.Aheading{
    text-align: center;
    padding: 30px;
    font-size: 5em ;

}

.Atext, .specifivation,.aboutcar,.price{ 
    letter-spacing: 1.4px;
    padding: 7% 23% ;
    font-size: 1.5em ;
}


.aboutimage{
    padding: 0 40%;
    align-self: center;
    text-align: center ;
    width: 20%;
    height: 40%;
    margin: 0;
}

/* PRODUCT*/
.main_box {
    text-align: center;
    align-items: center;
    padding: 7% 20%;
}

.table{
    text-align: center;
    width: 70%;
}

h1,h2,h3,h4,h5,h6{
    width:984px;

}

/*Contact*/

.linkicon{
 text-decoration: none;
 color: aliceblue;
 font-size: 1em;

}
/* HTML FORM */

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #bbb; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #fff;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  input[type=submit]:hover {
    background-color: #45a049;
  }
  

  .container {
    
    width:984px;
    height:557px;
    border-radius: 5px;
    background-color: #000;
    padding: 2%;
    margin: 7% 20% ;
  }

.Clinks{
    padding: 2%;
    margin: 0% 20% ;
    text-align: center;
    position: fixed;
    width: 50%;
    bottom: 10px;

} 
  
/*Mobile*/

@media only screen and (max-width: 600px){

    .PreLoader-text {
    
        font-family: 'Nunito Sans', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 3rem;
        line-height: 0.75;
        margin: 10px 0;
        font-size: 6vw;
        font-weight: bold;
      }


iframe{
     width: 100vw;
     height: 60vh;
 }
 .links{
     text-align: left;
 }
 .link_style{
     font-size: 1.3em;
     padding: 1.5px;
 }
/*Product*/
.main_box{

    padding: 0;
    margin: 0;
}
img{
    width: 284px;
    height: 150px;
}

h1,h2,h3,h4,h5,h6{
    font-size: 80%;
    padding: 0 35px;
    width:284px;

}

/*About*/
.Aheading{
    text-align: center;
    padding: 30px;
    font-size: 3em;

}


.Atext, .specifivation,.aboutcar,.price,.top-box{ 
    text-align: center;
    padding: 7% 0% ;   
    font: 0.2em;
}
.Atext{
    padding: 7% 20%;
}


.aboutimage{
    align-self: center;
    text-align: center ;
    width: 40%;
    height: 100%;
    margin: 0;
    padding: 0 30%;
}
.container {
    
    align-items: center;
    width: 284px;
    height: 150px;  
    border-radius: 5px;
    background-color: #000;
    padding: 5% 2%;
    margin:  40px;
  }


  .Clinks{
    padding: 2%;
    margin: 0% 25% ;
    text-align: center;
    position: fixed;
    width: 50%;
    bottom: 10px;
  }   
}